# üöÄ **AVANCE 3 - PROYECTO INTEGRADOR**
## üìä **An√°lisis de Datos y Preparaci√≥n para Modelado de Machine Learning**

---

### üìã **Objetivos del Avance:**
- ‚úÖ **Feature Engineering:** Crear variables derivadas relevantes
- ‚úÖ **Detecci√≥n de Outliers:** Identificar valores at√≠picos en las ventas
- ‚úÖ **An√°lisis Temporal:** Extraer patrones de tiempo de las ventas
- ‚úÖ **Dataset Final:** Preparar datos para modelado de ML

---

## üìÅ **CARGA DE ARCHIVOS CSV**

### üóÇÔ∏è **Archivos de Datos Disponibles:**
| **Archivo** | **Descripci√≥n** | **Registros** |
|-------------|-----------------|---------------|
| `categories.csv` | Categor√≠as de productos | ~10 categor√≠as |
| `cities.csv` | Informaci√≥n de ciudades | ~100 ciudades |
| `countries.csv` | Informaci√≥n de pa√≠ses | ~200 pa√≠ses |
| `customers.csv` | Datos de clientes | ~98,000 clientes |
| `employees.csv` | Datos de empleados | ~25 empleados |
| `products.csv` | Cat√°logo de productos | ~450 productos |
| `sales.csv` | Registro de ventas | ~6.7M ventas |

---

In [179]:
# üìö **IMPORTACI√ìN DE LIBRER√çAS Y CARGA DE DATOS**
import pandas as pd
import numpy as np

print("üîÑ Cargando archivos CSV...")

# Cargar todos los archivos de datos
categories = pd.read_csv('../data/categories.csv')
cities = pd.read_csv('../data/cities.csv')
countries = pd.read_csv('../data/countries.csv')
customers = pd.read_csv('../data/customers.csv')
employees = pd.read_csv('../data/employees.csv')
products = pd.read_csv('../data/products.csv')
sales = pd.read_csv('../data/sales.csv')

print("‚úÖ Todos los archivos cargados exitosamente!")
print(f"üìä Total de ventas: {len(sales):,} registros")
print(f"üë• Total de empleados: {len(employees)} empleados")
print(f"üõçÔ∏è Total de productos: {len(products)} productos")

üîÑ Cargando archivos CSV...
‚úÖ Todos los archivos cargados exitosamente!
üìä Total de ventas: 6,758,125 registros
üë• Total de empleados: 23 empleados
üõçÔ∏è Total de productos: 452 productos

## üîß **PREGUNTA 1: C√ÅLCULO DE PRECIO REAL DE VENTAS**

### üéØ **Problema Identificado:**
El campo `TotalPrice` en la tabla `sales` **no tiene valores v√°lidos** (todos son 0).

### üí° **Soluci√≥n Propuesta:**
Utilizar la informaci√≥n de precios de la tabla `products` para calcular el valor real de cada venta.

### üìê **F√≥rmula de C√°lculo:**
```
TotalPriceCalculated = (Quantity √ó Price) √ó (1 - Discount)
```

### üîç **An√°lisis Previo:**
- Verificar estructura de la tabla `sales`
- Analizar distribuci√≥n de valores en `TotalPrice`
- Revisar informaci√≥n disponible en `products`

---

In [180]:
# üîç **AN√ÅLISIS DE LA TABLA SALES**
print("üìä Informaci√≥n de la tabla 'sales':")
print("=" * 50)
sales.info()

print(f"\nüìà Resumen estad√≠stico:")
print(f"‚Ä¢ Total de registros: {len(sales):,}")
print(f"‚Ä¢ Memoria utilizada: {sales.memory_usage(deep=True).sum() / 1024**2:.1f} MB")
print(f"‚Ä¢ Columnas disponibles: {len(sales.columns)}")

üìä Informaci√≥n de la tabla 'sales':
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6758125 entries, 0 to 6758124
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   SalesID            int64
 1   SalesPersonID      int64
 2   CustomerID         int64
 3   ProductID          int64
 4   Quantity           int64
 5   Discount           float64
 6   TotalPrice         float64
 7   SalesDate          object
 8   TransactionNumber  object
dtypes: float64(2), int64(5), object(2)
memory usage: 464.0+ MB

üìà Resumen estad√≠stico:
‚Ä¢ Total de registros: 6,758,125
‚Ä¢ Memoria utilizada: 1267.1 MB
‚Ä¢ Columnas disponibles: 9

In [181]:
# üìä **AN√ÅLISIS DE VALORES EN TotalPrice**
print("üîç Distribuci√≥n de valores en 'TotalPrice':")
print("=" * 50)

conteo_valores = sales['TotalPrice'].value_counts().sort_index()
print(conteo_valores)

print(f"\n‚ö†Ô∏è  PROBLEMA DETECTADO:")
print(f"‚Ä¢ Todos los valores de TotalPrice son: {sales['TotalPrice'].unique()}")
print(f"‚Ä¢ Porcentaje de valores 0: {sales['TotalPrice'].value_counts()[0] / len(sales) * 100:.1f}%")
print(f"‚Ä¢ Necesitamos calcular el precio real usando la tabla 'products'")

üîç Distribuci√≥n de valores en 'TotalPrice':
==================================================
TotalPrice
0    6758125
Name: count, dtype: int64

‚ö†Ô∏è  PROBLEMA DETECTADO:
‚Ä¢ Todos los valores de TotalPrice son: [0.]
‚Ä¢ Porcentaje de valores 0: 100.0%
‚Ä¢ Necesitamos calcular el precio real usando la tabla 'products'

In [182]:
# üõçÔ∏è **AN√ÅLISIS DE LA TABLA PRODUCTS**
print("üìä Informaci√≥n de la tabla 'products':")
print("=" * 50)
products.info()

print(f"\nüìà Resumen de productos:")
print(f"‚Ä¢ Total de productos: {len(products):,}")
print(f"‚Ä¢ Rango de precios: ${products['Price'].min():.2f} - ${products['Price'].max():.2f}")
print(f"‚Ä¢ Precio promedio: ${products['Price'].mean():.2f}")
print(f"‚Ä¢ Categor√≠as disponibles: {products['CategoryID'].nunique()}")

üìä Informaci√≥n de la tabla 'products':
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductID     452 non-null    int64
 1   ProductName   452 non-null    object
 2   Price         452 non-null    float64
 3   CategoryID    452 non-null    int64
 4   Class         452 non-null    object
 5   ModifyDate    452 non-null    object
 6   Resistant     452 non-null    object
 7   IsAllergic    452 non-null    object
 8   VitalityDays  452 non-null    int64
dtypes: float64(1), int64(3), object(5)
memory usage: 31.9+ KB

üìà Resumen de productos:
‚Ä¢ Total de productos: 452
‚Ä¢ Rango de precios: $0.00 - $99.88
‚Ä¢ Precio promedio: $50.61
‚Ä¢ Categor√≠as disponibles: 11

In [183]:
# üí∞ **C√ÅLCULO DEL VALOR REAL DE VENTAS**
print("üîÑ Calculando precios reales de ventas...")
print("=" * 50)

# Hacer merge para combinar las tablas sales y products
sales_products = sales.merge(products[['ProductID', 'Price']], on='ProductID', how='left')

# Calcular TotalPriceCalculated usando la f√≥rmula: (Quantity √ó Price) √ó (1 - Discount)
sales_products['TotalPriceCalculated'] = (sales_products['Quantity'] * sales_products['Price']) * (1 - sales_products['Discount'])

print("‚úÖ C√°lculo completado!")
print(f"üìä Resumen de TotalPriceCalculated:")
print(f"‚Ä¢ Valor m√≠nimo: ${sales_products['TotalPriceCalculated'].min():.2f}")
print(f"‚Ä¢ Valor m√°ximo: ${sales_products['TotalPriceCalculated'].max():.2f}")
print(f"‚Ä¢ Valor promedio: ${sales_products['TotalPriceCalculated'].mean():.2f}")
print(f"‚Ä¢ Total de ventas: ${sales_products['TotalPriceCalculated'].sum():,.2f}")

print(f"\nüìã Primeras 5 filas del dataset combinado:")
sales_products.head()

üîÑ Calculando precios reales de ventas...
==================================================
‚úÖ C√°lculo completado!
üìä Resumen de TotalPriceCalculated:
‚Ä¢ Valor m√≠nimo: $0.00
‚Ä¢ Valor m√°ximo: $2496.89
‚Ä¢ Valor promedio: $638.68
‚Ä¢ Total de ventas: $4,316,267,678.92

üìã Primeras 5 filas del dataset combinado:

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber,Price,TotalPriceCalculated
0,1,6,27039,381,7,0,0,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G,44,310
1,2,16,25011,61,7,0,0,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8,63,438
2,3,13,94024,23,24,0,0,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0,79,"1,896"
3,4,8,73966,176,19,0,0,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE,81,"1,236"
4,5,10,32653,310,9,0,0,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3,80,720

## üéØ **PREGUNTA 2: DETECCI√ìN DE OUTLIERS**

### üìä **Objetivo:**
Detectar valores at√≠picos en la columna `TotalPriceCalculated` utilizando el **criterio del rango intercuart√≠lico (IQR)**.

### üîç **Metodolog√≠a:**
- **M√©todo:** Rango Intercuart√≠lico (IQR)
- **F√≥rmula:** `Outlier = Q1 - 1.5√óIQR` o `Q3 + 1.5√óIQR`
- **Variable:** `TotalPriceCalculated = (Quantity √ó Price) √ó (1 - Discount)`

### üìà **Proceso:**
1. **Calcular percentiles:** P5, Q1, Q3
2. **Determinar l√≠mites:** L√≠mite inferior y superior
3. **Identificar outliers:** Valores fuera del rango
4. **Crear columna:** `IsOutlier` (1 = outlier, 0 = normal)

### üéØ **Resultado Esperado:**
- Nueva columna `IsOutlier` con valores binarios
- Conteo total de outliers detectados
- Porcentaje de outliers en el dataset

---

In [184]:
# üìä **AN√ÅLISIS PREVIO DE OUTLIERS**
print("üîç An√°lisis de valores extremos en TotalPriceCalculated:")
print("=" * 60)

venta_minima = sales_products['TotalPriceCalculated'].min()
venta_maxima = sales_products['TotalPriceCalculated'].max()
venta_promedio = sales_products['TotalPriceCalculated'].mean()

print(f"üìà Estad√≠sticas b√°sicas:")
print(f"‚Ä¢ Venta m√°s baja: ${venta_minima:.2f}")
print(f"‚Ä¢ Venta m√°s alta: ${venta_maxima:.2f}")
print(f"‚Ä¢ Venta promedio: ${venta_promedio:.2f}")
print(f"‚Ä¢ Desviaci√≥n est√°ndar: ${sales_products['TotalPriceCalculated'].std():.2f}")

print(f"\n‚ö†Ô∏è  Observaci√≥n: Existen ventas con valor $0.00 (posibles outliers)")

üîç An√°lisis de valores extremos en TotalPriceCalculated:
============================================================
üìà Estad√≠sticas b√°sicas:
‚Ä¢ Venta m√°s baja: $0.00
‚Ä¢ Venta m√°s alta: $2496.89
‚Ä¢ Venta promedio: $638.68
‚Ä¢ Desviaci√≥n est√°ndar: $547.95

‚ö†Ô∏è  Observaci√≥n: Existen ventas con valor $0.00 (posibles outliers)

In [185]:
# üéØ **C√ÅLCULO DE OUTLIERS USANDO IQR**
print("üìä Calculando outliers con m√©todo IQR...")
print("=" * 50)

# Calcular percentiles
P5 = sales_products['TotalPriceCalculated'].quantile(0.05)
Q1 = sales_products['TotalPriceCalculated'].quantile(0.25)
Q3 = sales_products['TotalPriceCalculated'].quantile(0.75)
IQR = Q3 - Q1

# Definir l√≠mites para outliers
lower_bound = P5  # Percentil 5 para outliers bajos (no hay valores negativos)
upper_bound = Q3 + 1.5 * IQR  # IQR est√°ndar para outliers altos

print(f"üìà Estad√≠sticas de percentiles:")
print(f"‚Ä¢ Percentil 5 (P5): ${P5:.2f}")
print(f"‚Ä¢ Cuartil 1 (Q1): ${Q1:.2f}")
print(f"‚Ä¢ Cuartil 3 (Q3): ${Q3:.2f}")
print(f"‚Ä¢ Rango Intercuart√≠lico (IQR): ${IQR:.2f}")

print(f"\nüö® L√≠mites para outliers:")
print(f"‚Ä¢ L√≠mite inferior (outliers bajos): ${lower_bound:.2f}")
print(f"‚Ä¢ L√≠mite superior (outliers altos): ${upper_bound:.2f}")

# Identificar y marcar outliers
sales_products['IsOutlier'] = ((sales_products['TotalPriceCalculated'] < lower_bound) | 
                               (sales_products['TotalPriceCalculated'] > upper_bound)).astype(int)

print(f"\n‚úÖ Columna 'IsOutlier' creada exitosamente!")

üìä Calculando outliers con m√©todo IQR...
==================================================
üìà Estad√≠sticas de percentiles:
‚Ä¢ Percentil 5 (P5): $29.99
‚Ä¢ Cuartil 1 (Q1): $176.94
‚Ä¢ Cuartil 3 (Q3): $982.16
‚Ä¢ Rango Intercuart√≠lico (IQR): $805.22

üö® L√≠mites para outliers:
‚Ä¢ L√≠mite inferior (outliers bajos): $29.99
‚Ä¢ L√≠mite superior (outliers altos): $2189.99

‚úÖ Columna 'IsOutlier' creada exitosamente!

In [186]:
# üîç **MUESTRA DE OUTLIERS DETECTADOS**
print("üìã Ejemplos de registros identificados como outliers:")
print("=" * 60)

outliers_sample = sales_products[sales_products['IsOutlier'] == 1].head(5)
print(f"üîç Mostrando 5 ejemplos de {sales_products['IsOutlier'].sum():,} outliers detectados:")
outliers_sample[['SalesID', 'Quantity', 'Price', 'Discount', 'TotalPriceCalculated', 'IsOutlier']]

üìã Ejemplos de registros identificados como outliers:
============================================================
üîç Mostrando 5 ejemplos de 386,068 outliers detectados:

    SalesID  Quantity  Price  Discount  TotalPriceCalculated  IsOutlier
10       11        18      0         0                     6          1
12       13         8      3         0                    18          1
32       33        11      1         0                    14          1
33       34         5      6         0                    29          1
61       62         1     10         0                    10          1

In [187]:
# üìä **RESUMEN DE OUTLIERS DETECTADOS**
print("üìà Resumen final de detecci√≥n de outliers:")
print("=" * 50)

num_outliers = sales_products['IsOutlier'].sum()
total_ventas = len(sales_products)
porcentaje_outliers = num_outliers / total_ventas * 100

print(f"üéØ RESULTADOS:")
print(f"‚Ä¢ Total de outliers detectados: {num_outliers:,}")
print(f"‚Ä¢ Total de ventas analizadas: {total_ventas:,}")
print(f"‚Ä¢ Porcentaje de outliers: {porcentaje_outliers:.2f}%")
print(f"‚Ä¢ Ventas normales: {total_ventas - num_outliers:,} ({(100-porcentaje_outliers):.2f}%)")

print(f"\n‚úÖ An√°lisis de outliers completado exitosamente!")

üìà Resumen final de detecci√≥n de outliers:
==================================================
üéØ RESULTADOS:
‚Ä¢ Total de outliers detectados: 386,068
‚Ä¢ Total de ventas analizadas: 6,758,125
‚Ä¢ Porcentaje de outliers: 5.71%
‚Ä¢ Ventas normales: 6,372,057 (94.29%)

‚úÖ An√°lisis de outliers completado exitosamente!

In [188]:
# üìä **DISTRIBUCI√ìN DE OUTLIERS**
print("üìà Distribuci√≥n de valores en columna 'IsOutlier':")
print("=" * 50)

distribucion = sales_products['IsOutlier'].value_counts()
print(distribucion)

print(f"\nüìã Interpretaci√≥n:")
print(f"‚Ä¢ 0 = Ventas normales: {distribucion[0]:,} registros")
print(f"‚Ä¢ 1 = Outliers detectados: {distribucion[1]:,} registros")

üìà Distribuci√≥n de valores en columna 'IsOutlier':
==================================================
IsOutlier
0    6372057
1     386068
Name: count, dtype: int64

üìã Interpretaci√≥n:
‚Ä¢ 0 = Ventas normales: 6,372,057 registros
‚Ä¢ 1 = Outliers detectados: 386,068 registros

## ‚è∞ **PREGUNTA 3: AN√ÅLISIS TEMPORAL DE VENTAS**

### üéØ **Objetivo:**
Analizar patrones temporales en las ventas para identificar **cu√°ndo se concentran m√°s ventas** durante el d√≠a.

### üìä **Proceso:**
1. **Extraer hora:** Crear columna `Hour` desde `SalesDate`
2. **Agrupar por hora:** Sumar `TotalPriceCalculated` por cada hora
3. **Identificar pico:** Encontrar la hora con mayor volumen de ventas
4. **Analizar patrones:** Comprender comportamiento temporal

### üîç **An√°lisis Esperado:**
- **Hora pico:** Momento del d√≠a con m√°s ventas
- **Patrones:** Distribuci√≥n de ventas por horas
- **Insights:** Comportamiento de compra de clientes

### üìà **Aplicaci√≥n:**
- **Optimizaci√≥n de horarios** de atenci√≥n
- **Planificaci√≥n de recursos** por turnos
- **Estrategias de marketing** temporal

---

In [189]:
# ‚è∞ **AN√ÅLISIS TEMPORAL DE VENTAS**
print("üîÑ Analizando patrones temporales de ventas...")
print("=" * 60)

# Convertir SalesDate a formato datetime
sales_products['SalesDate'] = pd.to_datetime(sales_products['SalesDate'], errors='coerce')

# Extraer la hora de la venta
sales_products['Hour'] = sales_products['SalesDate'].dt.hour

# Agrupar por hora y calcular suma de ventas
ventas_por_hora = sales_products.groupby('Hour')['TotalPriceCalculated'].sum().reset_index()

# Encontrar la hora con mayor volumen de ventas
hora_mas_ventas = ventas_por_hora[ventas_por_hora['TotalPriceCalculated'] == ventas_por_hora['TotalPriceCalculated'].max()]

print("üéØ RESULTADOS DEL AN√ÅLISIS TEMPORAL:")
print(f"‚è∞ Hora pico de ventas: {int(hora_mas_ventas['Hour'].values[0]):02d}:00")
print(f"üí∞ Total de ventas en hora pico: ${hora_mas_ventas['TotalPriceCalculated'].values[0]:,.0f}")

# Mostrar top 5 horas con m√°s ventas
print(f"\nüìä TOP 5 HORAS CON M√ÅS VENTAS:")
top_horas = ventas_por_hora.nlargest(5, 'TotalPriceCalculated')
for idx, row in top_horas.iterrows():
    print(f"‚Ä¢ {int(row['Hour']):02d}:00 - ${row['TotalPriceCalculated']:,.0f}")

print(f"\n‚úÖ An√°lisis temporal completado!")

üîÑ Analizando patrones temporales de ventas...
============================================================
üéØ RESULTADOS DEL AN√ÅLISIS TEMPORAL:
‚è∞ Hora pico de ventas: 16:00
üí∞ Total de ventas en hora pico: $179,014,421

üìä TOP 5 HORAS CON M√ÅS VENTAS:
‚Ä¢ 16:00 - $179,014,421
‚Ä¢ 20:00 - $178,949,164
‚Ä¢ 02:00 - $178,420,847
‚Ä¢ 06:00 - $178,381,199
‚Ä¢ 19:00 - $178,346,115

‚úÖ An√°lisis temporal completado!

## üìÖ **PREGUNTA 4: AN√ÅLISIS SEMANAL DE VENTAS**

### üéØ **Objetivo:**
Determinar si la empresa vende **m√°s durante los d√≠as de semana o en el fin de semana**.

### üìä **Metodolog√≠a:**
1. **Clasificar ventas:** Crear variable `Weekend` (True/False)
2. **Extraer d√≠a:** Usar `DayType` (0=lunes, 6=domingo)
3. **Agrupar ventas:** Sumar por tipo de d√≠a
4. **Comparar resultados:** D√≠as de semana vs Fin de semana

### üîç **An√°lisis:**
- **D√≠as de semana:** Lunes a Viernes (DayType: 0-4)
- **Fin de semana:** S√°bado y Domingo (DayType: 5-6)
- **M√©trica:** Total de `TotalPriceCalculated` por grupo

### üìà **Insights Esperados:**
- **Patr√≥n de compra:** Comportamiento semanal de clientes
- **Estrategia comercial:** Optimizaci√≥n de horarios y promociones
- **Planificaci√≥n:** Recursos y personal por tipo de d√≠a

---

In [190]:
# üìÖ **AN√ÅLISIS SEMANAL DE VENTAS**
print("üîÑ Analizando patrones semanales de ventas...")
print("=" * 60)

# Configurar formato de visualizaci√≥n
pd.set_option('display.float_format', '{:,.0f}'.format)

# Extraer d√≠a de la semana (0 = lunes, 6 = domingo)
sales_products['DayType'] = sales_products['SalesDate'].dt.weekday 

# Clasificar si es fin de semana (s√°bado=5, domingo=6)
sales_products['Weekend'] = sales_products['DayType'].isin([5, 6])

# Agrupar y sumar ventas por tipo de d√≠a
ventas_por_tipo = sales_products.groupby('Weekend')['TotalPriceCalculated'].sum()

# Obtener valores espec√≠ficos
ventas_fin_semana = ventas_por_tipo[True]
ventas_dias_semana = ventas_por_tipo[False]

print("üéØ RESULTADOS DEL AN√ÅLISIS SEMANAL:")
print(f"üìÖ Ventas en fin de semana: ${ventas_fin_semana:,.0f}")
print(f"üìÖ Ventas en d√≠as de semana: ${ventas_dias_semana:,.0f}")

# Calcular diferencia y porcentaje
diferencia = abs(ventas_dias_semana - ventas_fin_semana)
porcentaje_diferencia = (diferencia / min(ventas_dias_semana, ventas_fin_semana)) * 100

print(f"\nüìä COMPARACI√ìN:")
print(f"üí∞ Diferencia: ${diferencia:,.0f}")
print(f"üìà Diferencia porcentual: {porcentaje_diferencia:.1f}%")

# Determinar cu√°l vende m√°s
if ventas_dias_semana > ventas_fin_semana:
    print(f"üèÜ RESULTADO: Se vende M√ÅS en D√çAS DE SEMANA")
    print(f"   ‚Ä¢ Ventaja: ${diferencia:,.0f} m√°s que en fin de semana")
else:
    print(f"üèÜ RESULTADO: Se vende M√ÅS en FIN DE SEMANA")
    print(f"   ‚Ä¢ Ventaja: ${diferencia:,.0f} m√°s que en d√≠as de semana")

print(f"\n‚úÖ An√°lisis semanal completado!")

üîÑ Analizando patrones semanales de ventas...
============================================================
üéØ RESULTADOS DEL AN√ÅLISIS SEMANAL:
üìÖ Ventas en fin de semana: $1,192,862,950
üìÖ Ventas en d√≠as de semana: $3,123,404,728

üìä COMPARACI√ìN:
üí∞ Diferencia: $1,930,541,778
üìà Diferencia porcentual: 161.8%
üèÜ RESULTADO: Se vende M√ÅS en D√çAS DE SEMANA
   ‚Ä¢ Ventaja: $1,930,541,778 m√°s que en fin de semana

‚úÖ An√°lisis semanal completado!

## üë• **PREGUNTA 5: FEATURE ENGINEERING DE EMPLEADOS**

### üéØ **Objetivo:**
Crear **dos nuevas features** relacionadas con los empleados para enriquecer el dataset de modelado.

### üîß **Features a Crear:**
1. **`AgeAtHire`** - Edad del empleado al momento de su contrataci√≥n
2. **`ExperienceAtSale`** - A√±os de experiencia del empleado al momento de cada venta

### üìä **Metodolog√≠a:**
- **Fuentes de datos:** `BirthDate`, `HireDate` (tabla employees) + `SalesDate` (tabla sales)
- **C√°lculo de edad:** `(HireDate - BirthDate) / 365.25`
- **C√°lculo de experiencia:** `(SalesDate - HireDate) / 365.25`
- **Formato de fechas:** Convertir a datetime para c√°lculos precisos

### üéØ **Aplicaci√≥n en ML:**
- **AgeAtHire:** Puede correlacionarse con desempe√±o y estabilidad
- **ExperienceAtSale:** Empleados con m√°s experiencia pueden vender m√°s
- **Insights:** Patrones de productividad por edad y experiencia

---

In [191]:
# üë• **C√ÅLCULO DE FEATURES DE EMPLEADOS**
print("üîÑ Calculando features de empleados...")
print("=" * 60)

# Convertir fechas a formato datetime
employees['BirthDate'] = pd.to_datetime(employees['BirthDate'], errors='coerce')
employees['HireDate'] = pd.to_datetime(employees['HireDate'], errors='coerce')

print("‚úÖ Fechas convertidas a formato datetime")

# Unir ventas con informaci√≥n de empleados
sales_products = sales_products.merge(
    employees[['EmployeeID', 'BirthDate', 'HireDate', 'Gender']], 
    left_on='SalesPersonID', 
    right_on='EmployeeID', 
    how='left'
)

print("‚úÖ Datos de empleados integrados al dataset")

# Calcular edad del empleado al momento de contrataci√≥n
sales_products['AgeAtHire'] = (sales_products['HireDate'] - sales_products['BirthDate']).dt.days // 365.25

# Calcular a√±os de experiencia al momento de cada venta
sales_products['ExperienceAtSale'] = (sales_products['SalesDate'] - sales_products['HireDate']).dt.days // 365.25

print("‚úÖ Features calculadas exitosamente")

# Mostrar estad√≠sticas de las nuevas features
print(f"\nüìä ESTAD√çSTICAS DE FEATURES DE EMPLEADOS:")
print(f"‚Ä¢ Edad promedio al contratarse: {sales_products['AgeAtHire'].mean():.1f} a√±os")
print(f"‚Ä¢ Rango de edad al contratarse: {sales_products['AgeAtHire'].min():.0f} - {sales_products['AgeAtHire'].max():.0f} a√±os")
print(f"‚Ä¢ Experiencia promedio: {sales_products['ExperienceAtSale'].mean():.1f} a√±os")
print(f"‚Ä¢ Rango de experiencia: {sales_products['ExperienceAtSale'].min():.0f} - {sales_products['ExperienceAtSale'].max():.0f} a√±os")

print(f"\nüìã Muestra de las nuevas features:")
sales_products[['SalesDate', 'HireDate', 'AgeAtHire', 'ExperienceAtSale']].head(10)

üîÑ Calculando features de empleados...
============================================================
‚úÖ Fechas convertidas a formato datetime
‚úÖ Datos de empleados integrados al dataset
‚úÖ Features calculadas exitosamente

üìä ESTAD√çSTICAS DE FEATURES DE EMPLEADOS:
‚Ä¢ Edad promedio al contratarse: 45.2 a√±os
‚Ä¢ Rango de edad al contratarse: 20 - 65 a√±os
‚Ä¢ Experiencia promedio: 4.0 a√±os
‚Ä¢ Rango de experiencia: 0 - 8 a√±os

üìã Muestra de las nuevas features:

                SalesDate                HireDate  AgeAtHire  ExperienceAtSale
0 2018-02-05 07:38:25.430 2013-06-22 13:20:18.080         26                 4
1 2018-02-02 16:03:31.150 2017-02-10 11:21:26.650         65                 0
2 2018-05-03 19:31:56.880 2011-12-12 10:43:52.940         48                 6
3 2018-04-07 14:43:55.420 2014-10-14 23:12:53.420         57                 3
4 2018-02-12 15:37:03.940 2012-07-23 15:02:12.640         48                 5
5 2018-02-07 10:33:24.990 2011-12-12 10:43:52.940         48                 6
6 2018-03-02 23:09:58.750 2016-07-11 00:57:58.340         54                 1
7 2018-01-17 13:41:38.460 2012-03-30 18:55:23.270         49                 5
8 2018-04-27 06:19:58.570 2017-02-10 11:21:26.650         65                 1
9 2018-03-26 22:12:08.530 2015-11-25 18:18:23.480         63                 2

In [192]:
sales_products.head()

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber,Price,...,IsOutlier,Hour,DayType,Weekend,EmployeeID,BirthDate,HireDate,Gender,AgeAtHire,ExperienceAtSale
0,1,6,27039,381,7,0,0,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G,44,...,0,7,0,False,6,1987-01-13,2013-06-22 13:20:18.080,M,26,4
1,2,16,25011,61,7,0,0,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8,63,...,0,16,4,False,16,1951-07-07,2017-02-10 11:21:26.650,M,65,0
2,3,13,94024,23,24,0,0,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0,79,...,0,19,3,False,13,1963-04-18,2011-12-12 10:43:52.940,M,48,6
3,4,8,73966,176,19,0,0,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE,81,...,0,14,5,True,8,1956-12-13,2014-10-14 23:12:53.420,M,57,3
4,5,10,32653,310,9,0,0,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3,80,...,0,15,0,False,10,1963-12-30,2012-07-23 15:02:12.640,M,48,5

## üîó **PREGUNTA 6: AGREGAR FEATURES ADICIONALES**

### üéØ **Objetivo:**
Agregar columnas adicionales con potencial relaci√≥n con `TotalPriceCalculated`:
- **CategoryID** (posici√≥n 2) - Categor√≠a del producto
- **CityID** (posici√≥n 14) - Ciudad del cliente  
- **CountryID** (posici√≥n 15) - Pa√≠s del cliente

### üìä **Metodolog√≠a:**
1. **Merge con products:** Obtener CategoryID
2. **Merge con customers:** Obtener CityID del cliente
3. **Merge con cities:** Obtener CountryID
4. **Reorganizar columnas:** Insertar nuevas features en posiciones espec√≠ficas

### üîç **Justificaci√≥n:**
- **CategoryID:** Diferentes categor√≠as tienen rangos de precios distintos
- **CityID:** Ubicaci√≥n geogr√°fica afecta poder adquisitivo y precios
- **CountryID:** Diferentes pa√≠ses tienen diferentes niveles de precios

---

In [193]:
# üîó **AGREGAR FEATURES ADICIONALES AL DATASET**
print("üîÑ Agregando features adicionales...")
print("=" * 60)

# 1. Merge con products para obtener CategoryID
print("üì¶ Agregando CategoryID desde tabla products...")
sales_products = sales_products.merge(
    products[['ProductID', 'CategoryID']], 
    on='ProductID', 
    how='left'
)

# 2. Merge con customers para obtener CityID del cliente
print("üèôÔ∏è Agregando CityID desde tabla customers...")
sales_products = sales_products.merge(
    customers[['CustomerID', 'CityID']], 
    on='CustomerID', 
    how='left'
)

# 3. Merge con cities para obtener CountryID
print("üåç Agregando CountryID desde tabla cities...")
sales_products = sales_products.merge(
    cities[['CityID', 'CountryID']], 
    on='CityID', 
    how='left'
)

print("‚úÖ Features adicionales agregadas exitosamente!")
print(f"üìä Nuevas columnas disponibles: CategoryID, CityID, CountryID")
print(f"üìà Dimensiones actuales: {sales_products.shape[0]:,} filas √ó {sales_products.shape[1]} columnas")

üîÑ Agregando features adicionales...
============================================================
üì¶ Agregando CategoryID desde tabla products...
üèôÔ∏è Agregando CityID desde tabla customers...
üåç Agregando CountryID desde tabla cities...
‚úÖ Features adicionales agregadas exitosamente!
üìä Nuevas columnas disponibles: CategoryID, CityID, CountryID
üìà Dimensiones actuales: 6,758,125 filas √ó 24 columnas

In [194]:
# üéØ **CREAR DATASET DEFINITIVO CON NUEVAS FEATURES**
print("üöÄ Creando dataset definitivo con features adicionales...")
print("=" * 60)

# Seleccionar columnas finales en el orden especificado
columns_finales = [
    # 1. Identificador de venta
    'SalesID',
    
    # 2. NUEVA: CategoryID (posici√≥n 2)
    'CategoryID',
    
    # 3-5. Features de transacci√≥n (recorridas una posici√≥n)
    'Quantity',
    'Price',
    'Discount',
    
    # 6. Variable objetivo
    'TotalPriceCalculated',
    
    # 7-10. Features calculadas (recorridas una posici√≥n)
    'IsOutlier',
    'Hour', 
    'DayType',
    'Weekend',
    
    # 11. Identificador de empleado (recorrido una posici√≥n)
    'SalesPersonID',
    
    # 12-13. Features de empleado (recorridas una posici√≥n)
    'AgeAtHire',
    'ExperienceAtSale',
    
    # 14. NUEVA: CityID (posici√≥n 14)
    'CityID',
    
    # 15. NUEVA: CountryID (posici√≥n 15)
    'CountryID'
]

# Crear dataset definitivo
dataset_final = sales_products[columns_finales].copy()

print("‚úÖ Dataset definitivo actualizado exitosamente!")
print(f"üìä INFORMACI√ìN DEL DATASET ACTUALIZADO:")
print(f"‚Ä¢ Dimensiones: {dataset_final.shape[0]:,} filas √ó {dataset_final.shape[1]} columnas")
print(f"‚Ä¢ Memoria utilizada: {dataset_final.memory_usage(deep=True).sum() / 1024**2:.1f} MB")
print(f"‚Ä¢ Columnas seleccionadas: {len(columns_finales)}")

print(f"\nüìã ESTRUCTURA DEL DATASET ACTUALIZADO:")
for i, col in enumerate(columns_finales, 1):
    print(f"  {i:2d}. {col}")

print(f"\nüîç MUESTRA DE DATOS (Primeras 5 filas):")
dataset_final.head()

üöÄ Creando dataset definitivo con features adicionales...
============================================================
‚úÖ Dataset definitivo actualizado exitosamente!
üìä INFORMACI√ìN DEL DATASET ACTUALIZADO:
‚Ä¢ Dimensiones: 6,758,125 filas √ó 15 columnas
‚Ä¢ Memoria utilizada: 728.3 MB
‚Ä¢ Columnas seleccionadas: 15

üìã ESTRUCTURA DEL DATASET ACTUALIZADO:
   1. SalesID
   2. CategoryID
   3. Quantity
   4. Price
   5. Discount
   6. TotalPriceCalculated
   7. IsOutlier
   8. Hour
   9. DayType
  10. Weekend
  11. SalesPersonID
  12. AgeAtHire
  13. ExperienceAtSale
  14. CityID
  15. CountryID

üîç MUESTRA DE DATOS (Primeras 5 filas):

,SalesID,CategoryID,Quantity,Price,Discount,TotalPriceCalculated,IsOutlier,Hour,DayType,Weekend,SalesPersonID,AgeAtHire,ExperienceAtSale,CityID,CountryID
0,1,1,7,44,0,310,0,7,0,False,6,26,4,54,32
1,2,8,7,63,0,438,0,16,4,False,16,65,0,71,32
2,3,11,24,79,0,"1,896",0,19,3,False,13,48,6,2,32
3,4,6,19,81,0,"1,236",0,14,5,True,8,57,3,45,32
4,5,9,9,80,0,720,0,15,0,False,10,48,5,82,32

In [195]:
# üìä **AN√ÅLISIS DE LAS NUEVAS FEATURES**
print("üîç Analizando las nuevas features agregadas...")
print("=" * 60)

# An√°lisis de CategoryID
print("üì¶ AN√ÅLISIS DE CategoryID:")
print(f"‚Ä¢ Total de categor√≠as √∫nicas: {dataset_final['CategoryID'].nunique()}")
print(f"‚Ä¢ Rango de CategoryID: {dataset_final['CategoryID'].min()} - {dataset_final['CategoryID'].max()}")
print(f"‚Ä¢ Distribuci√≥n por categor√≠a:")
category_dist = dataset_final['CategoryID'].value_counts().sort_index()
for cat_id, count in category_dist.head(5).items():
    print(f"  - Categor√≠a {cat_id}: {count:,} ventas ({count/len(dataset_final)*100:.1f}%)")

print(f"\nüèôÔ∏è AN√ÅLISIS DE CityID:")
print(f"‚Ä¢ Total de ciudades √∫nicas: {dataset_final['CityID'].nunique()}")
print(f"‚Ä¢ Rango de CityID: {dataset_final['CityID'].min()} - {dataset_final['CityID'].max()}")
print(f"‚Ä¢ Top 5 ciudades con m√°s ventas:")
city_dist = dataset_final['CityID'].value_counts().head(5)
for city_id, count in city_dist.items():
    print(f"  - Ciudad {city_id}: {count:,} ventas ({count/len(dataset_final)*100:.1f}%)")

print(f"\nüåç AN√ÅLISIS DE CountryID:")
print(f"‚Ä¢ Total de pa√≠ses √∫nicos: {dataset_final['CountryID'].nunique()}")
print(f"‚Ä¢ Rango de CountryID: {dataset_final['CountryID'].min()} - {dataset_final['CountryID'].max()}")
print(f"‚Ä¢ Distribuci√≥n por pa√≠s:")
country_dist = dataset_final['CountryID'].value_counts().head(5)
for country_id, count in country_dist.items():
    print(f"  - Pa√≠s {country_id}: {count:,} ventas ({count/len(dataset_final)*100:.1f}%)")

print(f"\n‚úÖ An√°lisis de nuevas features completado!")

üîç Analizando las nuevas features agregadas...
============================================================
üì¶ AN√ÅLISIS DE CategoryID:
‚Ä¢ Total de categor√≠as √∫nicas: 11
‚Ä¢ Rango de CategoryID: 1.0 - 11.0
‚Ä¢ Distribuci√≥n por categor√≠a:
  - Categor√≠a 1.0: 851,976 ventas (12.6%)
  - Categor√≠a 2.0: 537,484 ventas (8.0%)
  - Categor√≠a 3.0: 671,769 ventas (9.9%)
  - Categor√≠a 4.0: 523,869 ventas (7.8%)
  - Categor√≠a 5.0: 569,175 ventas (8.4%)

üèôÔ∏è AN√ÅLISIS DE CityID:
‚Ä¢ Total de ciudades √∫nicas: 96
‚Ä¢ Rango de CityID: 1 - 96
‚Ä¢ Top 5 ciudades con m√°s ventas:
  - Ciudad 28: 75,674 ventas (1.1%)
  - Ciudad 34: 75,130 ventas (1.1%)
  - Ciudad 58: 74,902 ventas (1.1%)
  - Ciudad 81: 74,564 ventas (1.1%)
  - Ciudad 14: 74,533 ventas (1.1%)

üåç AN√ÅLISIS DE CountryID:
‚Ä¢ Total de pa√≠ses √∫nicos: 1
‚Ä¢ Rango de CountryID: 32 - 32
‚Ä¢ Distribuci√≥n por pa√≠s:
  - Pa√≠s 32: 6,758,125 ventas (100.0%)

‚úÖ An√°lisis de nuevas features completado!

## üìã **RESUMEN DEL DATASET DEFINITIVO ACTUALIZADO**

### üéØ **ESTRUCTURA FINAL (15 Columnas)**

| **Posici√≥n** | **Columna** | **Tipo** | **Descripci√≥n** | **Transformaci√≥n Realizada** |
|--------------|-------------|----------|-----------------|------------------------------|
| **1** | **SalesID** | Identificador | ID √∫nico de venta | Ninguna |
| **2** | **CategoryID** | Categ√≥rica | Categor√≠a del producto | Ninguna |
| **3** | **Quantity** | Num√©rica | Cantidad vendida | Ninguna |
| **4** | **Price** | Num√©rica | Precio unitario | Ninguna |
| **5** | **Discount** | Num√©rica | Descuento aplicado | Ninguna |
| **6** | **TotalPriceCalculated** | Num√©rica | Variable objetivo | **SIN TRANSFORMACI√ìN** |
| **7** | **IsOutlier** | Binaria | Identificador de outliers | Ninguna |
| **8** | **Hour** | Categ√≥rica | Hora de venta (0-23) | Encoding c√≠clico |
| **9** | **DayType** | Categ√≥rica | D√≠a de semana (0-6) | Ninguna |
| **10** | **Weekend** | Booleana | Fin de semana | Ninguna |
| **11** | **SalesPersonID** | Categ√≥rica | ID del empleado | Ninguna |
| **12** | **AgeAtHire** | Num√©rica | Edad al contratarse | StandardScaler |
| **13** | **ExperienceAtSale** | Num√©rica | A√±os de experiencia | StandardScaler |
| **14** | **CityID** | Categ√≥rica | Ciudad del cliente | Ninguna |
| **15** | **CountryID** | Categ√≥rica | Pa√≠s del cliente | Ninguna |

### üîÑ **TRANSFORMACIONES REQUERIDAS**

#### **OBLIGATORIAS:**
1. **CategoryID** ‚Üí One-Hot Encoding
2. **Hour** ‚Üí Encoding c√≠clico (sin/cos)
3. **DayType** ‚Üí One-Hot Encoding  
4. **SalesPersonID** ‚Üí One-Hot Encoding
5. **CityID** ‚Üí One-Hot Encoding
6. **CountryID** ‚Üí One-Hot Encoding

#### **OPCIONALES:**
1. **AgeAtHire** ‚Üí StandardScaler
2. **ExperienceAtSale** ‚Üí StandardScaler

### üìä **BENEFICIOS DE LAS NUEVAS FEATURES**

- **CategoryID:** Captura patrones de precios por categor√≠a de producto
- **CityID:** Incluye informaci√≥n geogr√°fica del cliente
- **CountryID:** A√±ade contexto de pa√≠s para an√°lisis de precios regionales

### ‚úÖ **DATASET LISTO PARA MACHINE LEARNING**

El dataset ahora incluye **15 features** que capturan:
- ‚úÖ Informaci√≥n de transacci√≥n (Quantity, Price, Discount)
- ‚úÖ Features temporales (Hour, DayType, Weekend)
- ‚úÖ Informaci√≥n de empleado (SalesPersonID, AgeAtHire, ExperienceAtSale)
- ‚úÖ Informaci√≥n de producto (CategoryID)
- ‚úÖ Informaci√≥n geogr√°fica (CityID, CountryID)
- ‚úÖ Detecci√≥n de anomal√≠as (IsOutlier)

---

## üîÑ **TRANSFORMACIONES PARA MACHINE LEARNING**

### üéØ **Objetivo:**
Aplicar las transformaciones necesarias a las variables categ√≥ricas y num√©ricas para preparar el dataset para modelado de ML.

### üìä **Transformaciones a Implementar:**
1. **Hour** ‚Üí Encoding c√≠clico (sin/cos)
2. **AgeAtHire** ‚Üí StandardScaler
3. **ExperienceAtSale** ‚Üí StandardScaler

### üîç **Justificaci√≥n:**
- **Encoding c√≠clico para Hour:** Captura la naturaleza c√≠clica del tiempo (23:59 ‚Üí 00:00)
- **StandardScaler:** Normaliza variables num√©ricas para algoritmos sensibles a escalas

---

In [196]:
# üîÑ **IMPLEMENTACI√ìN DE TRANSFORMACIONES**
print("üöÄ Aplicando transformaciones para Machine Learning...")
print("=" * 60)

# Importar librer√≠as necesarias para transformaciones
from sklearn.preprocessing import StandardScaler
import numpy as np

# Crear una copia del dataset para las transformaciones
dataset_transformed = dataset_final.copy()

print("üìä Dataset original:")
print(f"‚Ä¢ Dimensiones: {dataset_transformed.shape}")
print(f"‚Ä¢ Columnas: {list(dataset_transformed.columns)}")

# 1. TRANSFORMACI√ìN: Encoding c√≠clico para Hour
print(f"\n‚è∞ Aplicando encoding c√≠clico para 'Hour'...")

# Crear columnas sin y cos para capturar la ciclicidad
dataset_transformed['Hour_sin'] = np.sin(2 * np.pi * dataset_transformed['Hour'] / 24)
dataset_transformed['Hour_cos'] = np.cos(2 * np.pi * dataset_transformed['Hour'] / 24)

print(f"‚úÖ Columnas creadas: Hour_sin, Hour_cos")
print(f"üìà Rango Hour_sin: {dataset_transformed['Hour_sin'].min():.3f} a {dataset_transformed['Hour_sin'].max():.3f}")
print(f"üìà Rango Hour_cos: {dataset_transformed['Hour_cos'].min():.3f} a {dataset_transformed['Hour_cos'].max():.3f}")

# 2. TRANSFORMACI√ìN: StandardScaler para AgeAtHire
print(f"\nüë§ Aplicando StandardScaler para 'AgeAtHire'...")

scaler_age = StandardScaler()
dataset_transformed['AgeAtHire_scaled'] = scaler_age.fit_transform(dataset_transformed[['AgeAtHire']])

print(f"‚úÖ Columna creada: AgeAtHire_scaled")
print(f"üìà Media original: {dataset_transformed['AgeAtHire'].mean():.1f}")
print(f"üìà Media escalada: {dataset_transformed['AgeAtHire_scaled'].mean():.6f}")
print(f"üìà Desviaci√≥n est√°ndar escalada: {dataset_transformed['AgeAtHire_scaled'].std():.6f}")

# 3. TRANSFORMACI√ìN: StandardScaler para ExperienceAtSale
print(f"\nüíº Aplicando StandardScaler para 'ExperienceAtSale'...")

scaler_exp = StandardScaler()
dataset_transformed['ExperienceAtSale_scaled'] = scaler_exp.fit_transform(dataset_transformed[['ExperienceAtSale']])

print(f"‚úÖ Columna creada: ExperienceAtSale_scaled")
print(f"üìà Media original: {dataset_transformed['ExperienceAtSale'].mean():.1f}")
print(f"üìà Media escalada: {dataset_transformed['ExperienceAtSale_scaled'].mean():.6f}")
print(f"üìà Desviaci√≥n est√°ndar escalada: {dataset_transformed['ExperienceAtSale_scaled'].std():.6f}")

print(f"\nüéØ TRANSFORMACIONES COMPLETADAS!")
print(f"üìä Nuevas dimensiones: {dataset_transformed.shape}")
print(f"üìã Nuevas columnas agregadas: Hour_sin, Hour_cos, AgeAtHire_scaled, ExperienceAtSale_scaled")

üöÄ Aplicando transformaciones para Machine Learning...
============================================================
üìä Dataset original:
‚Ä¢ Dimensiones: (6758125, 15)
‚Ä¢ Columnas: ['SalesID', 'CategoryID', 'Quantity', 'Price', 'Discount', 'TotalPriceCalculated', 'IsOutlier', 'Hour', 'DayType', 'Weekend', 'SalesPersonID', 'AgeAtHire', 'ExperienceAtSale', 'CityID', 'CountryID']

‚è∞ Aplicando encoding c√≠clico para 'Hour'...
‚úÖ Columnas creadas: Hour_sin, Hour_cos
üìà Rango Hour_sin: -1.000 a 1.000
üìà Rango Hour_cos: -1.000 a 1.000

üë§ Aplicando StandardScaler para 'AgeAtHire'...
‚úÖ Columna creada: AgeAtHire_scaled
üìà Media original: 45.2
üìà Media escalada: -0.000000
üìà Desviaci√≥n est√°ndar escalada: 1.000000

üíº Aplicando StandardScaler para 'ExperienceAtSale'...
‚úÖ Columna creada: ExperienceAtSale_scaled
üìà Media original: 4.0
üìà Media escalada: 0.000000
üìà Desviaci√≥n est√°ndar escalada: 1.000000

üéØ TRANSFORMACIONES COMPLETADAS!
üìä Nuevas dimensiones: (6758125, 19)
üìã Nuevas columnas agregadas: Hour_sin, Hour_cos, AgeAtHire_scaled, ExperienceAtSale_scaled

In [197]:
# üìä **VERIFICACI√ìN DE TRANSFORMACIONES**
print("üîç Verificando las transformaciones aplicadas...")
print("=" * 60)

# Mostrar muestra de las transformaciones
print("üìã MUESTRA DE TRANSFORMACIONES (Primeras 5 filas):")
transformaciones_muestra = dataset_transformed[['Hour', 'Hour_sin', 'Hour_cos', 
                                               'AgeAtHire', 'AgeAtHire_scaled',
                                               'ExperienceAtSale', 'ExperienceAtSale_scaled']].head()

print(transformaciones_muestra)

# Verificar propiedades de las transformaciones
print(f"\n‚úÖ VERIFICACI√ìN DE PROPIEDADES:")

# Verificar que Hour_sin y Hour_cos mantienen la relaci√≥n c√≠clica
print(f"üîç Encoding c√≠clico de Hour:")
print(f"‚Ä¢ Hora 0: sin={np.sin(0):.3f}, cos={np.cos(0):.3f}")
print(f"‚Ä¢ Hora 6: sin={np.sin(np.pi/2):.3f}, cos={np.cos(np.pi/2):.3f}")
print(f"‚Ä¢ Hora 12: sin={np.sin(np.pi):.3f}, cos={np.cos(np.pi):.3f}")
print(f"‚Ä¢ Hora 18: sin={np.sin(3*np.pi/2):.3f}, cos={np.cos(3*np.pi/2):.3f}")

# Verificar StandardScaler
print(f"\nüîç StandardScaler:")
print(f"‚Ä¢ AgeAtHire_scaled - Media: {dataset_transformed['AgeAtHire_scaled'].mean():.6f} (debe ser ~0)")
print(f"‚Ä¢ AgeAtHire_scaled - Std: {dataset_transformed['AgeAtHire_scaled'].std():.6f} (debe ser ~1)")
print(f"‚Ä¢ ExperienceAtSale_scaled - Media: {dataset_transformed['ExperienceAtSale_scaled'].mean():.6f} (debe ser ~0)")
print(f"‚Ä¢ ExperienceAtSale_scaled - Std: {dataset_transformed['ExperienceAtSale_scaled'].std():.6f} (debe ser ~1)")

print(f"\nüéØ VERIFICACI√ìN COMPLETADA!")

üîç Verificando las transformaciones aplicadas...
============================================================
üìã MUESTRA DE TRANSFORMACIONES (Primeras 5 filas):
   Hour  Hour_sin  Hour_cos  AgeAtHire  AgeAtHire_scaled  ExperienceAtSale  \
0     7         1        -0         26                -2                 4
1    16        -1        -1         65                 2                 0
2    19        -1         0         48                 0                 6
3    14        -0        -1         57                 1                 3
4    15        -1        -1         48                 0                 5

   ExperienceAtSale_scaled
0                       -0
1                       -2
2                        1
3                       -0
4                        0

‚úÖ VERIFICACI√ìN DE PROPIEDADES:
üîç Encoding c√≠clico de Hour:
‚Ä¢ Hora 0: sin=0.000, cos=1.000
‚Ä¢ Hora 6: sin=1.000, cos=0.000
‚Ä¢ Hora 12: sin=0.000, cos=-1.000
‚Ä¢ Hora 18: sin=-1.000, cos=-0.000

üîç StandardScaler:
‚Ä¢ AgeAtHire_scaled - Media: -0.000000 (debe ser ~0)
‚Ä¢ AgeAtHire_scaled - Std: 1.000000 (debe ser ~1)
‚Ä¢ ExperienceAtSale_scaled - Media: 0.000000 (debe ser ~0)
‚Ä¢ ExperienceAtSale_scaled - Std: 1.000000 (debe ser ~1)

üéØ VERIFICACI√ìN COMPLETADA!

## üéØ **DATASET FINAL TRANSFORMADO**

### üìä **RESUMEN DE TRANSFORMACIONES APLICADAS**

| **Variable Original** | **Transformaci√≥n** | **Variables Resultantes** | **Justificaci√≥n** |
|----------------------|-------------------|---------------------------|-------------------|
| **Hour** | Encoding c√≠clico | `Hour_sin`, `Hour_cos` | Captura la naturaleza c√≠clica del tiempo |
| **AgeAtHire** | StandardScaler | `AgeAtHire_scaled` | Normaliza para algoritmos sensibles a escalas |
| **ExperienceAtSale** | StandardScaler | `ExperienceAtSale_scaled` | Normaliza para algoritmos sensibles a escalas |

### üîç **PROPIEDADES DE LAS TRANSFORMACIONES**

#### **Encoding C√≠clico (Hour):**
- **F√≥rmula:** `sin(2œÄ √ó hour/24)` y `cos(2œÄ √ó hour/24)`
- **Beneficio:** Las horas 23:59 y 00:00 est√°n cerca en el espacio transformado
- **Rango:** [-1, 1] para ambas variables

#### **StandardScaler:**
- **F√≥rmula:** `(x - Œº) / œÉ`
- **Resultado:** Media = 0, Desviaci√≥n est√°ndar = 1
- **Beneficio:** Variables en la misma escala para algoritmos de ML

### üìã **ESTADO FINAL DEL DATASET**

**Dimensiones:** 6,758,125 filas √ó 19 columnas

**Columnas disponibles:**
1. **Variables originales:** SalesID, CategoryID, Quantity, Price, Discount, TotalPriceCalculated, IsOutlier, Hour, DayType, Weekend, SalesPersonID, AgeAtHire, ExperienceAtSale, CityID, CountryID
2. **Variables transformadas:** Hour_sin, Hour_cos, AgeAtHire_scaled, ExperienceAtSale_scaled

### ‚úÖ **DATASET LISTO PARA MACHINE LEARNING**

El dataset ahora incluye:
- ‚úÖ **Variable objetivo:** TotalPriceCalculated (sin transformar)
- ‚úÖ **Features num√©ricas:** Quantity, Price, Discount (listas para usar)
- ‚úÖ **Features binarias:** IsOutlier, Weekend (listas para usar)
- ‚úÖ **Features temporales c√≠clicas:** Hour_sin, Hour_cos
- ‚úÖ **Features num√©ricas normalizadas:** AgeAtHire_scaled, ExperienceAtSale_scaled
- ‚úÖ **Features categ√≥ricas:** CategoryID, DayType, SalesPersonID, CityID, CountryID (requieren One-Hot Encoding)

---